* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #d870e6, #c79ed1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    height: 80%;
    width: 70%;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    position: fixed;
    backdrop-filter: blur(2rem);
    z-index: 3;
    display: flex;
}

.circle1 {
    background: white;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 5%;
    left: 12%;
    border-radius: 50%;
    z-index: 2;
}

.circle2 {
    background: white;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    height: 20rem;
    width: 20rem;
    position: absolute;
    bottom: 5%;
    right: 12%;
    border-radius: 50%;
    z-index: 1;
}


.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.dashboard img {
    width: 10%;
    height: 10%;
}

.technologies {
    flex: 2;
}

.technologies img {
    width: 10%;
    height: 10%;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.user img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}

.user h2 {
    margin-top: -30px;
    color: #9a09ad;
    font-weight: 600;
    align-items: center;
}

.user h4 {
    margin-top: -50px;
    align-items: center;
    color: #d870e6;
}

.links {
    margin-top: -50px;
}

.link {
    color: rgb(151, 144, 144);
    margin-top: -25px;
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    justify-content: center;
}

.link h3 {
    padding: 0rem 2rem;
}

.link img {
    justify-content: center;
}

.link:hover {
    color: #d870e6;
    cursor: pointer;
}

/*technologies*/

.status {
    margin-bottom: 3rem;
    color: white;
}

.status h1 {
    color: #9a09ad;
    text-align: center;
}


.technologies {
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
  }

.tech-info {
    text-align: center;
  }

.tech1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tech2 {
    justify-content: center;
    margin-top: 10px;
}

.tech3 {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    height: 100px;
    width: 160px;
    position: relative;
    margin-top: 100px;
    background: #9d15af;
    border-radius: 2rem;
}

.projects h1 {
    margin-left: 30px;
    margin-top: 35px;
    color: #c79ed1;
}


.projects h1:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

@media (max-width: 600px) {

    .dashboard {
        width: 60%;
    }


    .user {
        position: relative;
        margin-top: -50px;
        width: 150px;
        height: 300px;
    }
    
    .user h2 {
        width: 100px;
        margin-top: 50px;
        position: relative;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .user h4 {
        margin-top: 20px;
        position: relative;
        align-items: center;
    }

    .links {
        margin-top: 50px;
    }

    .link {
        
        display: flex;
        position: relative;
        margin-top: -40px;
        
    }

    .techs {
        display: relative;
        width: 80px;
        height: 400px;
        margin-left: -150px;
        align-items: center;
    } 

    .techs img {
        display: relative;
        width: 50px;
        height: 50px;
    }

    .techs h2 {
        display: none;
    }

    .technologies {
        display: none;
    }

    .technologies h1 {
        display: none;
    }

    .projects {
        display: none
    }

    .projects h1 {
        display: relative;
        margin-left: -250px;
    }
        
}

@media (max-width: 1000px) {
    .technologies {
        display: flex;
        margin-top: 20px;
    }

    .user img {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 50%;
        border-radius: 50%;
    }

    .user h2 {
        margin-top: 20px;
        position: relative;
        align-items: center;
    }

    .user h4 {
        margin-top: -10px;
        position: relative;
        align-items: center;
    }

    .projects {
        display: flex;
        width: 60%;
        height: 60%;
        margin-top: 30px;
    }

    .projects h1 {
        margin-top: 0px;
    }
}

@media (max-width: 1799px) {

    .technologies {
        display: flex;
        margin-top: 20px;
    }

    .user img {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 50%;
        border-radius: 50%;
    }

    .user h2 {
        margin-top: 20px;
        position: relative;
        align-items: center;
    }

    .user h4 {
        margin-top: -10px;
        position: relative;
        align-items: center;
    }

    .projects {
        display: block;
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }

    .projects h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        text-align: center;
        display: block;
    }
}

@media (min-width: 1800px) {

    .technologies {
        display: flex;
        margin-top: 60px;
    }

    .user img {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 50%;
        border-radius: 50%;
    }

    .user h2 {
        margin-top: 20px;
        position: relative;
        align-items: center;
    }

    .user h4 {
        margin-top: -10px;
        position: relative;
        align-items: center;
    }

    .projects {
        display: block;
        width: 50%;
        height: 50%;
        margin-top: 100px;
    }

    .projects h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        text-align: center;
        display: block;
    }
}